* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 300px;
    height: 865px;px;
    display: flex;
    border: 1px solid rgb(0, 0, 0);
}

.logo img{
    width: 200px;
    height: 125px;
    margin: 1rem;
}

.logohome img{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 125px;
    right: 180px;
    left: 20px;
    bottom: 200px;
    margin: 1rem;
    /*border: 1px solid red;  */
}

.wordhome {
    /*border: 1px solid red;*/
    position: absolute;
    top: 128px;
    right: 180px;
    left: 50px;
    bottom: 202px;
    width: 50px;
    height: 25px;
    margin: 1rem;
    font-family: 'Source Code Pro', monospace;
}

.logosearch img {
    /*border: 1px solid rgb(199, 248, 6);*/
    width: 25px;
    height: 25px;
    position: absolute;
    top: 200px;
    right: 180px;
    left: 20px;
    bottom: 200px;
    margin: 1rem;
}

.wordsearch  {
    position: absolute;
    top: 200px;
    right: 180px;
    left: 50px;
    bottom: 202px;
    width: 50px;
    height: 25px;
    margin: 1rem;
    font-family: 'Source Code Pro', monospace;
    /*border: 5px solid rgb(199, 248, 6)*/
}

.logoexplorn img {
    /*border: 1px solid rgb(199, 248, 6)*/
    width: 25px;
    height: 25px;
    position: absolute;
    top: 275px;
    right: 180px;
    left: 20px;
    bottom: 200px;
    margin: 1rem;
    
}

.wordexplorn {
    position: absolute;
    top: 275px ;
    right: 180px;
    left: 50px;
    bottom: 202px;
    width: 50px;
    height: 25px;
    margin: 1rem;
    font-family: 'Source Code Pro', monospace;
}

.logoreels img {
    /*border: 1px solid royalblue;*/
    width: 25px;
    height: 25px;
    position: absolute;
    top: 350px;
    right: 180px;
    left: 20px;
    bottom: 200px;
    margin: 1rem;
}

.wordreels {
    position: absolute;
    top: 350px ;
    right: 180px;
    left: 50px;
    bottom: 202px;
    width: 50px;
    height: 25px;
    margin: 1rem;
    font-family: 'Source Code Pro', monospace;
}

.logomessages img {
    /*border: 1px solid rgb(181, 15, 218);*/
    width: 25px;
    height: 25px;
    position: absolute;
    top: 425px;
    right: 180px;
    left: 20px;
    bottom: 200px;
    margin: 1rem;
}

.wordmessages {
    position: absolute;
    top: 425px ;
    right: 180px;
    left: 50px;
    bottom: 202px;
    width: 50px;
    height: 25px;
    margin: 1rem;
    font-family: 'Source Code Pro', monospace;
}

.logoNotifications img{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 500px;
    right: 180px;
    left: 20px;
    bottom: 200px;
    margin: 1rem;
}

.wordNotifications {
    position: absolute;
    top: 500px ;
    right: 180px;
    left: 50px;
    bottom: 202px;
    width: 50px;
    height: 25px;
    margin: 1rem;
    font-family: 'Source Code Pro', monospace;
}

.logocreate img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 570px;
    right: 180px;
    left: 20px;
    bottom: 200px;
    margin: 1rem;
}

.wordcreate {
    position: absolute;
    top: 570px ;
    right: 180px;
    left: 50px;
    bottom: 202px;
    width: 50px;
    height: 25px;
    margin: 1rem;
    font-family: 'Source Code Pro', monospace;
}

.porfileimg img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 635px;
    right: 180px;
    left: 20px;
    bottom: 200px;
    margin: 1rem;
    border-radius: 15px;
}

.wordporfile{
    position: absolute;
    top: 635px ;
    right: 185px;
    left: 58px;
    bottom: 202px;
    width: 50px;
    height: 25px;
    margin: 1rem;
    font-family: 'Source Code Pro', monospace;
}

.more img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 800px;
    right: 180px;
    left: 20px;
    bottom: 200px;
    margin: 1rem;
}

.wordmore {
    position: absolute;
    top: 805px ;
    right: 185px;
    left: 58px;
    bottom: 202px;
    width: 50px;
    height: 25px;
    margin: 1rem;
    font-family: 'Source Code Pro', monospace;
}

.containerimg {
    /*border: 1px solid red;*/
    width: 900px;
    height: 800px;
    position: absolute;
    
    display: grid;
    

    top: 25px ;
    right: 200px;
    bottom: 100px;
    left: 500px;
    top: 0px;
}

.img1 img{
    width: 250px;  object-fit: cover;
    height: 250px; object-fit: cover;
    position: absolute;
    top: 25px ;
    right: 185px;
    left: 58px;
    bottom: 202px;

}

.img2 img {
    width: 250px;  object-fit: cover;
    height: 250px; object-fit: cover;
    width: 250px;  object-fit: cover;
    height: 250px; object-fit: cover;
    position: absolute;
    top: 25px ;
    right: 200px;
    left: 315px;
    bottom: 202px;
}

.img3 img{
    width: 250px;  object-fit: cover;
    height: 250px; object-fit: cover;
    width: 250px;  object-fit: cover;
    height: 250px; object-fit: cover;
    position: absolute;
    top: 25px ;
    right: 205px;
    left: 570px;
    bottom: 202px;
}

.img4 img{
    width: 250px;  object-fit: cover;
    height: 250px; object-fit: cover;
    width: 250px;  object-fit: cover;
    height: 250px; object-fit: cover;
    position: absolute;
    top: 280px ;
    right: 185px;
    left: 58px;
    bottom: 202px;
}

.img5 img {
    width: 250px;  object-fit: cover;
    height: 250px; object-fit: cover;
    width: 250px;  object-fit: cover;
    height: 250px; object-fit: cover;
    position: absolute;
    top: 280px ;
    right: 200px;
    left: 315px;
    bottom: 202px;
}

.img6 img{
    width: 250px;  object-fit: cover;
    height: 250px; object-fit: cover;
    width: 250px;  object-fit: cover;
    height: 250px; object-fit: cover;
    position: absolute;
    top: 280px ;
    right: 205px;
    left: 570px;
    bottom: 202px;
}

.img7 img {
    width: 250px;  object-fit: cover;
    height: 250px; object-fit: cover;
    width: 250px;  object-fit: cover;
    height: 250px; object-fit: cover;
    position: absolute;
    top: 540px ;
    right: 185px;
    left: 58px;
    bottom: 202px;
}

.img8 img {
    width: 250px;  object-fit: cover;
    height: 250px; object-fit: cover;
    width: 250px;  object-fit: cover;
    height: 250px; object-fit: cover;
    position: absolute;
    top: 540px ;
    right: 200px;
    left: 315px;
    bottom: 202px;
}

.img9 img {
    width: 250px;  object-fit: cover;
    height: 250px; object-fit: cover;
    width: 250px;  object-fit: cover;
    height: 250px; object-fit: cover;
    position: absolute;
    top: 540px ;
    right: 205px;
    left: 570px;
    bottom: 202px;
}


